.product {
    display: flex;
    overflow: hidden;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 5px;
    margin-right: 5px;
    padding-bottom: 5px; 
}
.productName {
    color: blue;
    font-weight: 500;
    margin-left: 10px;
}
.cartButton {
    background-color: gold;
    width: 150 px;
    height: 30px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    cursor: pointer;
}